#define DEBUG_ALL_LED_ON false // Mode turning on all LED (to debug)

#define TIMEZONE +1 // here GMT+1
#define NTP_UPDATE_INTERVAL 60000

#define VERSION 2
#define UPDATE_URL "http://your-pc.local/"

#define PARAM_URL "https://example.com/clock/time"

#define WIFI_SSID  "SSID"
#define WIFI_PASSWORD "PASSWORD"
